$white-color: white;
$grey-color: #545149;
.compose {
  display: none;
  margin: 0px 20px;
  form {
    display: flex;
    width: inherit;
    flex-direction: column;
  }
}
form {
  footer {
    font-family: Bungee, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $grey-color;
    margin-top: 0.5em;
  }
  button {
    color: $white-color;
    background-color: #4056a1;
    outline: none;
  }
  textarea {
    &::placeholder {
      color: #a39e9e;
    }
    width: 100%;
    background-color: #e9dfd0;
    border: none;
    resize: none;
    border-bottom: 3px solid $grey-color;
    outline: none;
    font-weight: 700;
    color: #545454;
    padding: 0;
    margin-top: 0.9em;
  }
}
.error {
  display: none;
  justify-content: space-around;
  height: 0;
  padding: 30px;
  margin-top: 10px;
  width: 100%;
  align-items: center;
  color: $white-color;
  background-color: red;
  border-radius: 40px;
}
.new-tweet {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;
}
.tweet-input {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
