header {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16.7em;
  font-size: 2rem;
  flex: 1;
}

.inner {
  font-size: 2rem;
  height: 10em;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  background-color: #d89820;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

header span {
  font-weight: bold;
}

header img {
  width: 7em;
  height: 7em;
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  .inner {
    border-radius: 0.4em;
    margin-top: 2.3em;
    width: 10em;
  }
  header {
    flex: none;
  }
}
