header {
  height: 500px;
  width: 100%;
  padding-top: 60px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;
}

.avatar {
  display: flex;
  color: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d89820;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

header span {
  font-weight: bold;
}

header img {
  width: 250px;
}
