header {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 16.7em;
  font-size: 2rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

header span {
  font-weight: bold;
}

header img {
  width: 7em;
  height: 7em;
}

.inner {
  font-size: 2rem;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #d89820;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

/* Tablet breakpoint */
@media only screen and (min-width: 768px) {
  .inner {
    border-radius: 0.4em;
    margin-top: 2.3em;
    width: 10em;
  }
  header {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }
}

nav {
  position: fixed;
  height: 7.3vh;
  background-color: #d89820;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  color: #ffffff;
  padding: 1.5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav > span {
  color: #ffffff;
  font-family: "Bungee", sans-serif;
}

nav section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}

nav i {
  margin-top: 10px;
  height: 20px;
  width: 20px;
  color: #4056a1;
}

nav i:hover {
  text-shadow: 2px 2px 5px #edb65f;
}

nav button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  nav {
    background-color: #4056a1;
  }
  nav i {
    color: #edb65f;
  }
}

.compose {
  display: none;
  margin: 0px 20px;
}

.compose form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

form footer {
  font-family: Bungee, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #545149;
  margin-top: 0.5em;
}

form button {
  color: white;
  background-color: #4056a1;
  outline: none;
}

form textarea {
  width: 100%;
  background-color: #e9dfd0;
  border: none;
  resize: none;
  border-bottom: 3px solid #545149;
  outline: none;
  font-weight: 700;
  color: #545454;
  padding: 0;
  margin-top: 0.9em;
}

form textarea::-webkit-input-placeholder {
  color: #a39e9e;
}

form textarea:-ms-input-placeholder {
  color: #a39e9e;
}

form textarea::-ms-input-placeholder {
  color: #a39e9e;
}

form textarea::placeholder {
  color: #a39e9e;
}

.error {
  display: none;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 0;
  padding: 30px;
  margin-top: 10px;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  background-color: red;
  border-radius: 40px;
}

.new-tweet {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  width: 100%;
}

.tweet-input {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tweet {
  border: 4px solid #545149;
  font-weight: 200;
  margin: 1em;
  padding: 1.1em;
}

.tweet:hover {
  -webkit-box-shadow: 10px 10px 10px #888888;
  box-shadow: 10px 10px 10px #888888;
  color: #0f0e0e;
  font-weight: 500;
}

.tweet:hover .author-handle {
  display: block;
  opacity: 50%;
}

.tweet:hover .tweet-actions i {
  text-shadow: 2px 2px 5px #4056a1;
}

.tweet-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.author-name {
  margin-left: 10px;
}

.author-handle {
  display: none;
  color: #545149;
}

.tweet-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  width: 95%;
  word-break: break-all;
}

.tweet-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  border-top: 4px solid #545149;
  padding: 0px 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tweet-age {
  font-size: 0.8em;
}

.tweet-actions {
  color: #4056a1;
}

.tweet-actions i {
  margin: 0px 5px;
}

.tweet-actions i::before {
  background: transparent;
}

/*
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/
 * Do not modify these two selectors, please
 */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */
body {
  color: #545149;
  background-color: #e9dfd0;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.tweets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding: 20px;
}

footer .bottom-toggle {
  display: none;
  font-family: "Bungee", sans-serif;
  position: fixed;
  right: 20px;
  bottom: 50px;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #d89820;
  color: #4056a1;
  cursor: pointer;
}

footer .bottom-toggle:hover {
  background-color: #edb65f;
  -webkit-box-shadow: 2px 6px 8px #888888;
  box-shadow: 2px 6px 8px #888888;
}

@media only screen and (min-width: 768px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .tweets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 80px;
    padding: 20px;
  }
}
/*# sourceMappingURL=layout.css.map */
