.compose {
  display: none;
  margin: 0px 20px;
}

form footer {
  font-family: Bungee, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #545149;
  margin-top: 0.5em;
}

form button {
  color: white;
  background-color: #4056a1;
  outline: none;
}

form textarea::placeholder {
  color: #a39e9e;
}

form textarea {
  width: 100%;
  background-color: #e9dfd0;
  border: none;
  resize: none;
  border-bottom: 3px solid #545149;
  outline: none;
  font-weight: 700;
  color: #545454;
  padding: 0;
  margin-top: 0.9em;
}

.error {
  display: none;
  justify-content: space-around;
  height: 0;
  padding: 30px;
  margin-top: 10px;
  width: 100%;
  align-items: center;
  color: white;
  background-color: red;
  border-radius: 40px;
}

.compose form {
  display: flex;
  width: inherit;
  flex-direction: column;
}

.new-tweet {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;
}

.tweet-input {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
